body{
    margin: 0 auto;
}

th{
    background-color: rgb(180, 180, 180);
    border: 3px solid black;
}

td{
    background-color: rgb(230, 230, 230);
    border: 3px solid rgb(53, 53, 53);

}

.h1{
    text-align: center;
}

.pagination {
    margin: 10px;
}

.menu-items {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    padding-inline-start: 0;
}

.menu-item {
    margin-right: 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0 !important;
    padding-inline-start: 0 !important;
}

.menu{
    padding: 5px 5px;
    background-color: rgb(185, 102, 102);
    list-style-type: none;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0px 8px 8px rgb(231, 127, 127);
}

.amenu{
    text-decoration: none;
    color: white;
    background-color: rgb(95, 55, 55);
    border: 2px solid rgb(134, 76, 76);
    border-radius: 4px;
    display: inline-block;
    padding: 5px 10px;
    transition: transform 0.3s ease;
}

.amenu:hover {
    transform: rotate(3deg);
    background-color: rgb(217, 139, 139);
}

.aordo{
    text-decoration: none;
    color: inherit;
    background-color: rgb(216, 216, 216);
    border-radius: 40px;
    display: inline-block;
    padding: 5px 10px;
    transition: transform 0.3s ease;
}

.aordo:hover {
    transform: rotate(2deg);
    background-color: rgb(180, 180, 180);
}


h5{
    font-size: 30px;
    margin-left: 100px;
}

.form_patients{
    margin-left: 800px;
    width: 400px;
    background-color: rgb(255, 177, 216) !important;
    border-radius: 20px;
}

.liste_patients{
    margin-left: 400px;
}

.button{
    background-color: rgb(207, 207, 207);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px;
}